.DS_Store
*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.out
*.swp
*.synctex.gz
*.tmp
*.toc
*.top
*.tui
*.dpth
*.md5
*.auxlock
.vscode
_minted-optimization
_minted-build
_minted-notes
__latexindent_temp.tex
