__pycache__
.DS_Store
*~
*.4tc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idv
*.idx
*.ilg
*.ind
*.ist
*.lg
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.out
*.pdf
*.swp
*.synctex.gz
*.tmp
*.toc
*.top
*.tui
*.dpth
*.md5
*.auxlock
*.xref
*.css
.vscode
.idea
_minted-optimization
_minted-build
_minted-notes
__latexindent_temp.tex
.ipynb_checkpoints
jupyter/calculus/plots/*
